header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-shadow: 7px 4px 5px rgb(207, 113, 55);




}
header p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 7px 4px 5px rgb(207, 113, 55);

    

}

.navbar {
    box-shadow: 2px 2px 5px rgb(169, 138, 37);
    color: rgb(255, 255, 255);
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.img {
    position:relative ;
    background-size: cover;
    min-height: 500px;
}
.background-overlay {
    
     background: rgba(34, 47, 62,0.5);
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.form-control, .btn {
    border-radius: 0;

}

.team, footer {
    background: #183773;
}


.caracteristicas h2 {
    font-family: Georgia, 'Times New Roman', Times, serif; 

}
.caracteristicas h3 {
    font-family:  'Suwannaphum', serif;
}

.accordion h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.productos .row{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.productos h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.galeria h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.team h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#galeria {
    background-color: cornflowerblue;
    
}
 #galeria .col-gl-4 {
    margin: 0 !important;
    padding: 25px;

 } 
#galeria img {
    width: 100%;
    height: 250px;
}

#galeria img:hover {
    border: 5px solid #fff;

}

.quien h3 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
}